@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
 
:root{
    --fill-size:0%;
    --bar-color: rgb(110, 31, 110);
    --fill-80:80%;
    --fill-75:75%;
    --fill-60:60%;
    --fill-35:35%;
}

html, body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: grey;
    cursor: default;
    font-family: "Tilt Neon", sans-serif;
    font-size: 16px;    
}

a{
    text-decoration: none;
    color: black;
    display: block;
    transition-duration: 0,3s;
}

ul{
    list-style-type: none;
    padding: 0;
}

h3{
    color: black;
    margin: 10px;
    font-size: 1.25em;
}

.curriculum{
    width: 960px;
    background-color: rgb(213, 187, 255);
    color:rgb(32, 32, 32);
    margin: 20px auto;
    box-shadow: 10px 10px black;
    position:relative;
    display: flex;
    font-size: large;
}

.curriculum .base,
.curriculum .func {
  box-sizing: border-box;
  float: left;
}

.curriculum .base > div:last-of-type,
.curriculum .func > div:last-of-type{
    padding-bottom: 0;
}

.curriculum .base > div,
.curriculum .func > div{
    padding-bottom: 10px;
}

.curriculum .base{
    width: 30%;
    padding: 30px 15px;
    background: #dbd1fc;
}

.curriculum .base .perfil .foto img{
    border-radius: 500px;
}

.curriculum .base .perfil .foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

img.redimension{
    width: 50%;
    height: 50%;
}

.curriculum .base .perfil{
    padding: 30px 15px 40px 15px;
    margin: -30px -15px -40px -15px;
    position: relative;
    z-index:2;
}

.curriculum .base .perfil .info{
    text-align: center;
    color: gray;
}

.curriculum .base .perfil .info .nombre{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.75em;
    color: black;
    font-size: 30px;
    padding-bottom: 20px;
}

.curriculum .base .contact div {
    line-height: 24px;
}

.curriculum .base .yo div {
    line-height: 24px;
    padding-top: 60px;
}

.curriculum .base .contact div a:hover span {
    width: 100%;
    color: red;
    transition-duration: 0.2s;
}

.curriculum .base .seguime .caja{
    text-align: center;
    vertical-align: middle;
}

.curriculum .base .seguime .caja a{
    display: inline-block;
    vertical-align: text-bottom;
}

.curriculum .base .seguime .caja i{
    display: inline-block;
    font-size: 30px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: white;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
    box-shadow:0 3px 5px 0px gray;
}

.curriculum .base .seguime .caja i.fa::before {
    display: block;
}

.curriculum .base .seguime .caja:hover a{
    filter: blur(2px);
    transition: 0.4s;
}

.curriculum .base .seguime .caja a:hover{
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.curriculum .func{
    width: 70%;
    padding: 30px;
}

.curriculum .func .trabajo,
.curriculum .func .estudios{
    float: left;
}

.curriculum .func .trabajo small,
.curriculum .func .estudios small{
    display: block;
    opacity: 0.7;
}

.curriculum .func .trabajo ul li,
.curriculum .func .estudios ul li{
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.curriculum .func .trabajo ul li:hover::before,
.curriculum .func .estudios ul li:hover::before{
    animation: circle 1.2s infinite;
}

.curriculum .func .trabajo ul li:hover span,
.curriculum .func .estudios ul li:hover span{
    color: black;
}

@keyframes circle{
    from{
        box-shadow: 0 0 0 0px black;
    }
    to{
        box-shadow: 0 0 0 6px #d4c7fa;
    }
}

.curriculum .func .trabajo ul li:first-of-type::before,
.curriculum .func .estudios ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.curriculum .func .trabajo ul li:first-of-type::after,
.curriculum .func .estudios ul li:first-of-type::after{
    border-radius: 1.5px;
}

.curriculum .func .trabajo ul li:last-of-type,
.curriculum .func .estudios ul li:last-of-type{
    padding-bottom:3px;
}

.curriculum .func .trabajo ul li::before,
.curriculum .func .trabajo ul li::after,
.curriculum .func .estudios ul li::before,
.curriculum .func .estudios ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.curriculum .func .trabajo ul li::before,
.curriculum .func .estudios ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid black;
  background: white;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}

.curriculum .func .estudios{
    width: 48%;
    background: #d4c7fa;
    padding: 15px;
    margin: 0 4% 15px 0;
    box-shadow: 0 3px 5px 0px gray;
}

.curriculum .func .estudios:hover h3{
    transform: translateX(2cm);
    transition: 1s;
}

.curriculum .func .trabajo{
    width: 48%;
    background: #d4c7fa;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px 0px gray;
}

.curriculum .func .trabajo:hover h3{
    transform: translateX(1.8cm);
    transition: 1s;
}

.curriculum .func .programacion {
  clear: both;
  background: #d4c7fa;
  padding: 15px;
  box-shadow:0 3px 5px 0px gray;
}

.curriculum .func .programacion ul {
  margin-left: 15px;
}

.curriculum .func .programacion ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  color: gray;
}

.curriculum .func .programacion ul li:hover span{
    display: block;
    width: 150px;
    transform: scale(1.1);
    transition-duration: 0.3s;
    color: black;
}

.curriculum .func .programacion a{
    display: flex;
    margin-left: 120px;
    position: absolute;
}

.curriculum .func .programacion{
    font-size: 20px;
}

.curriculum .func .programacion:hover h3{
    transform: translateX(3cm);
    transition: 1s;
}

.curriculum .func .programacion .bar{
    position: absolute;
    width: 300px;
    height: 10px;
    background-color: var(--bar-color);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5cm;
}

.curriculum .func .programacion .bar div:hover li{
    transform: scale(1.2);
    transition: 0.3s;
}

.curriculum .func .programacion .bar .barra-80::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    transform: translateX(0%);
    animation: fill-bar-80 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar-80{
    to{
        transform: translateX(var(--fill-80));
    }
}

.curriculum .func .programacion .bar .barra-75::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    transform: translateX(0%);
    animation: fill-bar-75 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar-75{
    to{
        transform: translateX(var(--fill-75));
    }
}

.curriculum .func .programacion .bar .barra-60::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    transform: translateX(0%);
    animation: fill-bar-60 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar-60{
    to{
        transform: translateX(var(--fill-60));
    }
}

.curriculum .func .programacion .bar .barra-35::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    transform: translateX(0%);
    animation: fill-bar-35 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar-35{
    to{
        transform: translateX(var(--fill-35));
    }
}

.curriculum .func .intereses{
    height: 20%;
    width: 100%;
    background: #d4c7fa;
    padding: 15px;
    margin: 0 4% 15px 0;
    box-shadow: 0 3px 5px 0px gray;
}    

.curriculum .func .intereses .items {
    text-align: center;
    align-items: center;
    display: flex;
}

.curriculum .func .intereses i{
    font-size: 30px;
    display: inline-block;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    line-height: 50px;
    color:white;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
    box-shadow:0 3px 5px 0px gray;
    border: 5px solid black;
}

.curriculum .func .intereses .items div:hover i{
    transform: scale(1.2);
}

.curriculum .func .intereses .items span{
    color: grey;
    font-size: small;
}

.curriculum .func .intereses .items div:hover span{
    color: black;
    font-size: large;
    transition-duration: 0.3s;
}

.curriculum .func .intereses:hover h3{
    transform: translateX(6cm);
    transition: 1s;
}

.boton-negro{
    position: absolute;
    margin-left: 317px;
    margin-top: 315px;
}

.boton-negro button{
    width: 40px;
    height: 40px;
    background-color: #d4c7fa;
    box-shadow: 0 3px 5px 0px gray;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.boton-negro:hover button{
    transform: scale(1.2);
    transition: 0.3s;
    rotate: 10deg;
}

.boton-blanco{
    position: absolute;
    margin-left: 317px;
    margin-top: 370px;
}

.boton-blanco button{
    width: 40px;
    height: 40px;
    background-color: #d4c7fa;
    box-shadow: 0 3px 5px 0px gray;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.boton-blanco:hover button{
    transform: scale(1.2);
    transition: 0.3s;
    rotate: 10deg;
}